{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Brewfile hash: {{ include ".resources/Brewfile" | sha256sum }}
brew bundle --no-lock --file=$(chezmoi source-path)/.resources/Brewfile

PY_MAJOR_VERSION=3.9
PY_LATEST_VERSION=$(pyenv install --list \
  | grep -E "^\s*$PY_MAJOR_VERSION" \
  | sort -t '.' -k1,1n -k2,2n -k3,3n \
  | tail -n1)
pyenv install -s $PY_LATEST_VERSION
pyenv global $PY_LATEST_VERSION

python -m pip install pip --upgrade
python -m pip install -r ~/.local/share/chezmoi/.resources/python-requirements.txt --upgrade

# AWSCLIv2
curl https://awscli.amazonaws.com/AWSCLIV2.pkg -o aws-cli.pkg
sudo installer -pkg aws-cli.pkg -target /

# AWS Amplify
curl -sL https://aws-amplify.github.io/amplify-cli/install | zsh

# AWS Corretto
curl -L https://corretto.aws/downloads/latest/amazon-corretto-8-aarch64-macos-jdk.pkg -o aws-corretto-jdk.pkg
sudo installer -pkg aws-corretto-jdk.pkg -target /
{{ end -}}
