#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") -}}
# Brewfile hash: {{ include ".resources/Brewfile" | sha256sum }}
brew bundle --no-lock --file=$(chezmoi source-path)/.resources/Brewfile

PY_MAJOR_VERSION=3.10
PY_LATEST_VERSION=$(pyenv install --list \
  | grep -E "^\s*$PY_MAJOR_VERSION" \
  | sort -t '.' -k1,1n -k2,2n -k3,3n \
  | tail -n1)

export PYTHON_CONFIGURE_OPTS="--enable-framework"

pyenv install -s $PY_LATEST_VERSION
pyenv global $PY_LATEST_VERSION

python -m pip install pip --upgrade
python -m pip install -r ~/.local/share/chezmoi/.resources/python-requirements.txt --upgrade

# AWSCLIv2
if ! command -v aws &> /dev/null; then
  curl https://awscli.amazonaws.com/AWSCLIV2.pkg -o aws-cli.pkg
  sudo installer -pkg aws-cli.pkg -target /
fi

# AWS Amplify
if ! command -v amplify &> /dev/null; then
  curl -sL https://aws-amplify.github.io/amplify-cli/install | zsh
fi

# Install AWS OpenJDK
if type -p java; then
  JAVA_VERSION=$(java -version 2>&1 | awk -F '"' '/version/ {print $2}')
  if [[ ! "$JAVA_VERSION" =~ ^1.8 ]]; then
    curl -L https://corretto.aws/downloads/latest/amazon-corretto-8-aarch64-macos-jdk.pkg -o aws-corretto-jdk.pkg
    sudo installer -pkg aws-corretto-jdk.pkg -target /
  fi
fi

# Install vim plugins
vim +'PlugInstall --sync' +qa

cd ~/.vim/plugged/YouCompleteMe && python3 install.py \
  --ts-completer \
  --go-completer
{{ end -}}

exit 0

# vim: set filetype=bash:
