#!/usr/bin/env bash

# Brewfile hash: {{ include ".resources/Brewfile" | sha256sum }}
brew bundle --no-lock --file=$(chezmoi source-path)/.resources/Brewfile

PY_MAJOR_VERSION=3.10
PY_LATEST_VERSION=$(pyenv install --list \
  | grep -E "^\s*$PY_MAJOR_VERSION" \
  | sort -t '.' -k1,1n -k2,2n -k3,3n \
  | tail -n1)

export PYTHON_CONFIGURE_OPTS="--enable-framework"

pyenv install -s $PY_LATEST_VERSION
pyenv global $PY_LATEST_VERSION

# Python requirements hash: {{ include ".resources/python-requirements.txt" | sha256sum }}
python -m pip install pip --upgrade
python -m pip install -r ~/.local/share/chezmoi/.resources/python-requirements.txt --upgrade

install_pkg() {
  local url=$1
  local filename="$(mktemp).pkg"
  curl -sL $url -o $filename
  sudo installer -pkg $filename -target /
  rm $filename
}

# 1Password CLI 2.0 (not available in brew yet)
if ! command -v op &> /dev/null; then
  install_pkg https://cache.agilebits.com/dist/1P/op2/pkg/v2.1.0/op_apple_universal_v2.1.0.pkg
fi

# AWSCLIv2
if ! command -v aws &> /dev/null; then
  install_pkg https://awscli.amazonaws.com/AWSCLIV2.pkg
fi

# AWS Amplify
if ! command -v amplify &> /dev/null; then
  curl -sL https://aws-amplify.github.io/amplify-cli/install | zsh
fi

# Install AWS OpenJDK
if type -p java; then
  JAVA_VERSION=$(java -version 2>&1 | awk -F '"' '/version/ {print $2}')
  if [[ ! "$JAVA_VERSION" =~ ^1.8 ]]; then
    install_pkg https://corretto.aws/downloads/latest/amazon-corretto-8-aarch64-macos-jdk.pkg
  fi
fi

# Install vim plugins
vim +'PlugInstall --sync' +qa

cd ~/.vim/plugged/YouCompleteMe && python3 install.py \
  --ts-completer \
  --go-completer

exit 0

{{/* vim: set filetype=bash ts=2 sts=2 sw=2: */}}
